.class_footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #252525;
}

.class_footer_icon_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-color: white;
    width: 20%;
}

.class_footer_icon_container i {
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    color: #3f3e3e;
    font-size: 25px;
}

.class_footer_icon_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}